.color-container {
  border-radius: 10px;
  padding: 1em;
  margin-left: 20px;
  background-color: #7059FD;
  position: relative;
  height: 100%
  
}

.white{
    border-radius: 10px;
    padding: 1em;
    background-color: #ffffff;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .black{
    border-radius: 10px;
    padding: 1em;
    background-color: #000000;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .gray{
    border-radius: 10px;
    padding: 1em;
    background-color: #717171;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .blue{
    border-radius: 10px;
    padding: 1em;
    background-color: #2934c6;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .red{
    border-radius: 10px;
    padding: 1em;
    background-color: #cc1919;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .pink{
    border-radius: 10px;
    padding: 1em;
    background-color: #e32ebc;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }


  .green{
    border-radius: 10px;
    padding: 1em;
    background-color: #1ae33f;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .greenP{
    border-radius: 10px;
    padding: 1em;
    background-color: #067608;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .blueP{
    border-radius: 10px;
    padding: 1em;
    background-color: #1d99aa;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .yellow{
    border-radius: 10px;
    padding: 1em;
    background-color: #fffb14;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .orange{
    border-radius: 10px;
    padding: 1em;
    background-color: #fa9906;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .purple{
    border-radius: 10px;
    padding: 1em;
    background-color: #5e115f;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .cyan{
    border-radius: 10px;
    padding: 1em;
    background-color: #1ac8e3;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .violet{
    border-radius: 10px;
    padding: 1em;
    background-color: #a578c5;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .brown{
    border-radius: 10px;
    padding: 1em;
    background-color: #392a10;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .coffee{
    border-radius: 10px;
    padding: 1em;
    background-color: #463e32;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .kirby{
    border-radius: 10px;
    padding: 1em;
    background-color: #e4a3d1;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .sand{
    border-radius: 10px;
    padding: 1em;
    background-color: #c3c19e;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }


  .pen1{
    border-radius: 100px;
    padding: 0.2em;
    background-color: #070600;
    border: 11px solid #ffffff;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .pen2{
    border-radius: 100px;
    padding: 0.4em;
    background-color: #070600;
    border: 8px solid #ffffff;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .pen3{
    border-radius: 100px;
    padding: 0.6em;
    background-color: #070600;
    border: 5px solid #ffffff;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .pen4{
    border-radius: 100px;
    padding: 0.7em;
    background-color: #070600;
    border: 4px solid #ffffff;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }

.eraser{
    border-radius: 100px;
    padding: 0.2em;
  
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .trash{
    border-radius: 100px;
    padding: 0.2em;
  
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  
  
  
  
