.App {
  text-align: center;
  margin-top: 50px;
}

section {
  color: #fff;
  width:190vh;
  height: 45vh;  
}

.navBg {
  background-color: #50218B;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
