:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 16px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  background-image: linear-gradient(110deg, #f93d66, #6d47d9);
  margin: 50px;
  background-position: fixed;
}

span {
  background-color: darkgrey;
  padding: 0.3rem;
  font-size: 0.8em;
  font-family: monospace;
}

p {
  line-height: 1.6em;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

input[type=number] {
  width: 50px;
}

.btn{
  height: 24px;
  border-radius: 4px;
  padding: 1em;
  background-color: #6d47d9;
  color: azure;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: shaking 2s infinite;
}

@keyframes shaking {
  
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}
