:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 16px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  background-image: url(../public/img/fondo2.svg);
  margin: 0px;  /* para arreglar lo del espacio de arriba */
  background-position: fixed;
  background-size: cover;
}

.photo{
  background: url(../public/img/logo.png);
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: 50px;
  
}
.photoA{
  background: url(../public/img/logo.png);
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: 850px;
  
}
.photoB{
 


  background-image: url(../public/img/Abstractart.gif);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  
}


span {
  background-color: darkgrey;
  padding: 0.3rem;
  font-size: 0.8em;
  font-family: monospace;
}

p {
  line-height: 1.6em;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

input[type=number] {
  width: 50px;
}

.btn{
  height: 40px;
  border-radius: 10px;
  padding: 1em;
  background-color: #8D59FD;
  color: azure;
  border: none;
  display: center;
  justify-content: center;
  align-items: center;

}
.btn2{
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 1em;
  background-color: #eb6bb8ff;
  color: azure;
  border: none;
  display: center;
  justify-content: center;
  align-items: center;

}






