.logoA{
    background: url(/public/img/logoA.png);
    width: 60;
    height: 50;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .btnHome {
    height: 50px; 
    border-radius: 10px;
    padding: 1em;
    background-color: #50218B;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .btnGallery {
    height: 50px;
    border-radius: 10px;
    padding: 1em;
    background-color: #50218B;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .btnStart {
    height: 50px;
    width: 160px;
    border-radius: 10px;
    padding: 1em;
    background-color: #50218B;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  .btnContinue{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    padding: 1em;
    background-color: #50218B;
    color: azure;
    border: none;
    display: center;
    justify-content: center;
    align-items: center;
  
  }

  